<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>Shopping Cart</span></h2>
        </div>

    </div>
<h1>Cart Total:</h1>${{cartTotal}}
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-12">
<div class="row" *ngFor="let cartItem of cartItemList">
                {{cartItem.qty}}
                <button md-raised-button  (click)="onRemoveCartItem(cartItem)" class="mat-primary">Remove Item</button>

                </div>

        </div>
    </div>

    <button routerLink="/checkout" class="mat-primary" title="Check Out">Check Out
    <i class="fa fa-chevron-right fa-fw"></i>
</button>
</div>
