<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
  <div class="form-row">
    <label for="card-info">Card Info</label>
    <span>Card Number</span><div id="card-info" #cardInfo></div>
    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>
  <div class="form-row">


<span>cvv</span><div id="cvv" #cvv></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>
  <div class="form-row">



<span>exp</span><div id="exp" #exp></div>
    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>
  <button type="submit">Pay</button>
</form>
