<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>Product Shelf</span></h2>
        </div>
</div>
    <div  *ngIf="addProductSuccess" class="row">

    	<div class="col-md-9">
          <h3><span  style="color:forestgreen"><i class="fa fa-check" style="color:forestgreen"></i>Added to cart.</span></h3>
</div>
</div>
<div class="row">

    				<div *ngFor = "let product of productList">

    						<div class="col-lg-6 col-md-6 col-sm-12 ">
                  	<div style="margin-bottom: 30px;">
                  <span>Qty: </span>
                  <select [(ngModel)]="product.qty" class="browser-default" style="width:50px; display:inline;">
                      <option *ngFor="let x of numberList" [ngValue]="x">{{x}}</option>
                  </select>


    								<p>{{product.description}}</p>

                  	<button md-raised-button  (click)="onAddToCart(product)" class="mat-primary">Add to Cart</button>
                  	<span>$<span>{{product.price}}</span></span>
    						</div>



    		</div>


    	</div>
    </div>
</div>
